.fp{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.fpItem{
    flex: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.fpImg{
    width: 100%;
}
.fpName{
    font-weight: bold;
}
.fpDistance{
    font-weight: 300;
}
.fpPrice{
    font-weight: 500;
}
.fpRating>button{
 background-color: grey;
 color: white;
}
.hostel{
    margin-top: 5rem;
}
    