.slideUp {
    animation: slide_up .7s forwards ease;
    transform: translateY(40px) scale(.95);
}
@keyframes slide_up {
    0% {    
        transform: translateY(40px) scale(.95);
    }
    100% {
        transform: translateY(0px) scale(1);
    }
}